* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
}

.background-animated-heart {
    position: fixed;
    z-index: -1;
}

.container-audio {
}

#principal {
    justify-content: center;
    background-color: transparent;
}

.container-slider {
    display: flex;
    width: 100%;
    min-height: 550px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0px 0px 10px black;
    background-color: transparent;
}

.container-images {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 300px
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

.texto {
    width: 400px;
    box-shadow: 0px -5px 10px black;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    text-align: center;
}

h1 {
    color: rgb(219, 72, 72);
}